

tbody {
  tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  td {
    background-color: transparent;
  }
}

th, td {
  min-width: auto !important;
}

p {
  font-size: 18px !important;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #558AB4;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
}