//
// Typography
//
$body-font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
$root-font-size: 18px !default; // Base font-size for rems

//
// Colors
//

$grey-aib-000: #6C757D;

$blue-aib-000: #0093DD;



$body-text-color: $grey-aib-000;

$link-color: $blue-aib-000;
